<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Show</title>
</head>
<body>
    <h1><%= student.name %> | <%= student.email %></h1>
    <a href="/students/<%= student.id%>/edit">Edit <%=student.name %></a>
    <form method="POST" action="/students/<%= student.id %>">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="Delete Student">
    </form>
</body>
</html>